:root{
--body: #434455;
--header: #ffffff;
--header-logo: #4d5ae5;
--header-email: #434455;
--hover-focus: #404bbf;
--header-button: #2E2F42;
--header-borbot: #E7E9FC;
--hero: #2E2F42;
--hero-F: #FFFFFF;
--main-title-color: #ffffff;
--hero-btn-background: #4D5AE5;
--about-subtitle: #2E2F42;
--about-text: #434455;
--promo-title: #2E2F42;
--section-team-background: #F4F4FD;
--team-title:#2E2F42;
--team-title-name: #2E2F42;
--team-text: #434455;
--gallery-title: #2E2F42;
--gallery-text: #434455;
--footer-text: #E7E9FC;
--second-title-color: #303030;
--main-btn-color: #ffffff;     
--all-btn: #4d5ae5;
--all-btn-bord: #E7E9FC;
--footer: #2e2f42;
--footer-logo: #4d5ae5;
--span: #2e2f42;
--footer-span: #f4f4fd;
}

body{
    font-family: 'Roboto', sans-serif;    
    color: var(--body);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}
.link {
    text-decoration: none;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section {
    padding: 120px 0;
}
.header {
    border-bottom: 1px solid var(--header-borbot);
}
.header-nav {
    display: flex;
    align-items: center;

}
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;     
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;               
    color: var(--header-logo);  
    text-decoration: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-right: 76px;
}
.header-list {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    top: 0px;
}
.header-span {
    color: var(--span);
}

.header-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-button);  
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 24px 0;
    display: block;
}
.header-button:hover {
    color: var(--hover-focus);
}
.header-button:focus {
   color: var(--hover-focus);
}
.header-address {
    font-style: normal;
    display: flex;
    gap: 40px;
}
.header-email {
font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--header-email);
}
.header-email:hover {
    color: var(--hover-focus);
}
.header-email:focus {
    color: var(--hover-focus)
}

.hero {
    background-color: var(--hero);
    padding: 188px 0;
    text-align: center;
}
   
.about-list {
    display: flex;
    gap: 24px;
}
.hero-title {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto 48px;
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--hero-F);
}
.hero-btn {
    font-family: inherit;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--hero-F);
    background-color: var(--hero-btn-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    border: 0;
}
.hero-btn:hover {
    background-color: var(--hover-focus); 
    color: var(--hero-F);
    
}
.hero-btn:focus {
    background-color: var(--hover-focus);
    color: var(--hero-F);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    color: #2E2F42;
}
.about-item {
    width: calc((100% - 72px)/4);
}

.about-subtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--about-subtitle); 
    margin: 0 0 8px;     
}
.about-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
    color: var(--about-text); 
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0;
}
.about {
    padding-top: 0;
}
.promo-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--promo-title);
    margin: 0 0 72px;
}
.promo-subject{
    gap: 24px;
}
.img {
    display: block;
}
.style{
    display: block;
    max-width: 100%;
}
.team {
    padding: 120px 0;
    background-color: var(--section-team-background);
}

.team-list {
    display: flex;
    gap: 24px;
}
.team-info{
    width: calc((100% - 72px)/4);
    background-color: var(--header);
    display: block;
    border-radius: 0px 0px 4px 4px;
}
.team-style{
    padding: 32px 0;
    text-align: center;
}
.team-title-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;       
    letter-spacing: 0.02em;
    color:  var(--team-title-name);          
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 0 8px;
}
.team-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;        
    letter-spacing: 0.02em;
    color: var(--team-text);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0;
}
/**-----Portfolio---------*/
.list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.section-portfolio {
    padding-top: 96px;
}
.menu-btn{
    justify-content: center;
    margin-bottom: 72px;
    padding: 0px 0px;
    gap: 24px;
}
.all-btn {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--all-btn);
    background-color: var(--section-team-background);
    border: 1px solid var(--all-btn-bord);
    padding: 12px 24px;
    border-radius: 4px;
    gap: 24px;    
}
.all-btn:hover {
    background-color: var(--hover-focus);
    color: var(--section-team-background);
}
.all-btn:focus {
    background-color: var(--hover-focus); 
    color: var(--section-team-background);
}

.gallery{
    background-color: var(--hero-F);
    text-decoration: none; 
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.gallery-block {
    width: calc((100% - 48px)/3);
}

.gallery-container {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: 0;
}
.gallery-title{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;        
    letter-spacing: 0.02em;       
    color: var(--gallery-title);
    margin: 0 0 8px;
}
.gallery-text{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--gallery-text);
    margin: 0;
}

/**-----Footer---------*/
.footer {
background-color:  var(--footer); 
padding: 100px 0;
}
.footer-container{
    width: 264px;
}
.footer-title {
position: absolute;
width: 115px;
height: 22px;
left: 156px;
top: 2380px;
}

.footer-logo {
font-family: 'Raleway', sans-serif;
text-decoration: none;
font-weight: 800;
font-size: 18px;
line-height: 1.17;           
display: inline-block;
letter-spacing: 0.03em;
text-transform: uppercase;              
color: var(--footer-logo);
margin-bottom: 16px;
}
.footer-span {
    color: var(--footer-span);
}
.footer-text {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;           
letter-spacing: 0.02em;
color: var(--footer-text);
margin: 0;
}


